[Unit]
Description=__APP__ agent
After=network.target

[Service]
Type=simple
User=__SYSTEMD_USER__
Group=__SYSTEMD_USER__
ExecStart=/usr/bin/nomad agent -config=__CONFIG_PATH__
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
